body{
    width: 1440px;
    height: 100%;
    background: #E5E5E5;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.row
{
    margin: 32px 0px 16px 31px;
}

.sorting__list{
    width: 121.49px;
    height: 36px;
    display: flex;
    align-items: center;
    margin: 31px 31px 16px 0px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.sorting__name{
    width: 105px;
    height: 15px;
    margin: 0 auto;
    color: #B4B4B4;
    font-size: 12px;
    font-weight: 400px;
    border: none;
    outline: none;

    
}

#img{
    width: 4.59px;
    height: 4.59px;
    margin: 14px 15.5px 15.5px 0px;
}




/*-------------main--------------*/
.main{
    display: flex   ;
}
.form{
    width: 332px;
    height: 440px;
    background-color: #FFFEFB;
    border-radius: 4px;
    padding-top: 24px;
    margin-right: 16px;
    margin-left: 32px;
}


.reminder{
    display: block;
    width: 100px;
    height: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #FF8484;
    margin-bottom: 2px;
}

.off__reminder{
    display: block;
    width: 100px;
    height: 10px;
    margin-bottom: 2px;
} 

.red__input.active{
    border-color: 
    #FF8484;
}

.required__field{
    display: flex;
}

.red__point{
    width: 4px;
    height: 4px;
}

.row-1{
    margin: 0px 24px 4px;
}

.text__control{
    border: none;
    width: 284px;
    height: 108px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    outline: none;
    
}


.row-name{
    font-size: 10px;
   
    font-weight: 400;
    margin-bottom: 4px;
    
}
#1{
    width: 95px;
    height: 13px;
}
#3{
    width: 134px;
    height: 13px;
}

#4{
    width: 53px;
    height: 13px;

}

.default__input{
    border: none;
    width: 284px;
    height: 36px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0px 0px 16px;
}

.red__input{
    width: 284px;
    height: 36px;

    border-radius: 4px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-color:#FF8484;
    padding: 10px 0px 0px 16px;
}



.product__search{
    width: 284px;
    height: 36px;
    background: #EEEEEE;
    border-radius: 10px;
    margin: 8px 24px 24px;
    border: #B4B4B4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #B4B4B4;

}

.product__search1{
    width: 284px;
    height: 36px;
    background: #7BAE73;
    border-radius: 10px;
    margin: 8px 24px 24px;
    border: #B4B4B4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}



.cards{
    width: 332px;
    height: 423px;
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    cursor: url(img/hover.png),pointer;
    position: relative;
    
}

.del__card{
    position: absolute;
    left: 93%;
    top: -4%;
    display: none;


}

.cards:hover .del__card{
    position: absolute;
    left: 93%;
    top: -4%;
    display: block;
}


.card__foto{
    width: 332px;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    width: 1028px;
    height: 870px;
    
}


.product__name{
    width: 201px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #3F3F3F;
    margin: 0px;
    margin: 16px 0px 16px 16px;
}


.product__description{
    width: 300px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3F3F3F;
    margin: 16px 16px 32px;
}

.prouct__price{
    width: 117px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3F3F3F;
    margin: 0px 0px 24px 16px;
}